<div class="item">
  <div class="content">
    <button class="circular ui icon button" (click)="toggleExpand()">
      <i *ngIf="!isExpanded" class="add circle icon"></i>
      <i *ngIf="isExpanded" class="remove circle icon"></i>
    </button>
    <a class="header">{{schema.index}} - {{schema.title}}</a>
  </div>
</div>

<ul *ngIf="isExpanded">
  <li *ngFor="let property of schema.properties">{{property.name}}: {{property.type}}</li>
</ul>
<ul *ngIf="isExpanded">
  <li *ngFor="let link of schema.links">{{link.method.toUpperCase()}} - {{link.name}}: {{link.type}} - {{link.url}}</li>
</ul>
