@import 'assets/semantic/semantic.min.css';

.ui.menu .item {
  margin-right: 1.5em;
}

form.ui.segment.form {
  background-color: #F1F9FF;
  margin-top: 2em;
}

form.form:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.meta {
  color: #9A9A9A
}

ul.ui.list li:before {
  content: '';
}

.app-loader {
  height: 100%;
}

.ui.menu .item>img:not(.ui).main-logo {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.main.container {
  margin-top: 5em;
}
